includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  paths:
    - includes
  scanFiles:
    - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: propertyGetHook.noRead
      reportUnmatched: false
