parameters:
  level: max
  paths:
    - includes
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
